@font-face {
  font-family: 'fuentLogo';
  src: url('../acces/letras/logoFuent.ttf');
}
@font-face {
  font-family: 'Titulomedio';
  src: url('../acces/letras/Titulomedio.otf');
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgb(248, 248, 249) 0%,
    rgb(255, 255, 255) 54%,
    rgb(255, 255, 255) 82%
  );
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Oswald", sans-serif;
}

/*ESTILOS HEADER*/

.container_header{
  height: 10px;
  width: 1215px;
  padding: 30px;
  display: flex;/*para que los elementos se ponga uno alado del otro*/
  justify-content: space-around;
  align-items: center;/*para que todo se aline horizontal*/
  background-color:#9A4905;
  
}
.caja_texto{

  display: flex;
  justify-items: center;

}

.caja_texto p{
 color: #fcfcf9;
 text-shadow: 1px 2px 2px 
 #3483e9;
 margin-bottom: 5px;
 margin-right: 10px;
 font-family: fuentLogo;
 font-size: 40px;
 font-weight:500;

}
.caja_menu{

  width: 50%;
  
}

.caja_menu nav ul{
  display: flex;/*con esto lo ponemos lineal*/
  margin: 100px;
  justify-content: space-around;
}
.caja_menu nav ul li{
 list-style: none;
 
}
.caja_menu nav ul a{
  position: relative;
  text-decoration: none;
  color: #fcfcf9;
  text-transform: uppercase;
 
}


/*fin ESTILOS HEADER*/


.titulo {
  /*H1*/
  color: rgb(29, 6, 179);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 70px;
 
}
/**CONTENEDOR TITULO CON IMAGEN*/

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;

}

#fondo{
width: 1270px;
height: 200px;
background-image: url(https://images.homify.com/v1464986821/p/photo/image/1535150/IMG_2384.jpg);
background-repeat: no-repeat;
background-size: cover;/*para q la imagen se adapte a nuestro div*/
background-attachment: fixed;/*quede fija*/


}

.title{
 
  font-size:40px;
  color: #eeaf7c;
  font-family: Arial, Helvetica, sans-serif;
 
}


/*CONTENEDOR VENTA Y ALQUILER*/

.venta, .alquiler{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 30px; /*sepra las cajas blancas*/
  width: 90%;
  height: 450px;
  margin-left: 50px;

}


.propiedad-block {
  /*caja blanca*/
  height: 400px;
  width: 400px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  
  
}



.propiedad-block h2 {
  /*textos*/
  margin: 10px;
  margin-left: 80px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: medium;
  color: rgb(29, 6, 179);
}

.propiedad-block p {
  /*textos*/
  margin: 10px;
  text-transform: capitalize;
  font-size: medium;
  color: blue;
 
}

.img-container {
  height: 170px;
  width: 270px;
  margin-left: 20px;
  border-radius: 4px;
  background-image: url(/img/ciudad.webp);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


.img-container:hover{
  transform: translate(0,0);
}



.img-container{
transition: all 2s ease-in-out;/*1s para la lentitud cunado se le de hover a la imagen*/
}

.img-container:hover {/*para cuando le des click a a imag agrande*/
transform: scale(1.1);
}


.row_smoke{
display: flex;
}

h3 {
  
  text-transform: capitalize;
  font-size: smaller; 
  margin-top: 5px;
  margin-left: 20px;
 
}
.fa-smoking {
  
  margin-bottom: 5px;

}

.row_pets{
display: flex;
}
.row_pets h3{
  text-transform: capitalize;
  font-size: smaller;
  margin-left: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
  
  
  }

.fa-paw{

margin-left: 7px;
margin-top: 10px;


}

